[project]
name = "wikidot"
version = "3.1.0dev4"
authors = [{ name = "ukwhatn", email = "ukwhatn@gmail.com" }]
description = "Wikidot Utility Library"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "License :: OSI Approved :: MIT License",
]

dependencies = [
    "httpx >= 0.25,< 0.28",
    "beautifulsoup4 ~= 4.12.2",
    "lxml >= 4.9.3,< 5.4.0",
]

[project.optional-dependencies]
build = [
    "build",
    "twine",
]
lint = [
    "flake8",
    "mypy",
    "isort",
]
format = [
    "black",
    "isort",
]

[project.urls]
"Homepage" = "https://github.com/ukwhatn/wikidot.py"
"Bug Tracker" = "https://github.com/ukwhatn/wikidot.py/issues"